@model TestTask.Models.Task

@{
    ViewData["Title"] = "Create";
}
<div class="row justify-content-center">
    <h2 class="col-auto">Create task</h2>
    <div class="w-100"></div>
    <div style="margin-top:40px" class="col-10">
        <form action="/task/create" method="post">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="Name">Name:</label>
                    <input asp-for="Name" type="text" class="form-control" id="Name" >
                </div>
                <div class="form-group col-6">
                    <label for="Performers">Performers:</label>
                    <input asp-for="Performers" type="text" class="form-control" id="Performers">
                </div>
                <div class="form-group col-4">
                    <label for="PlannedLab">Planned laboriusness:</label>
                    <input asp-for="PlannedLaboriousness" type="number" class="form-control" id="PlannedLab">
                </div>
                <div class="form-group col-4">
                    <label for="PlannedComTime">Planned completion time</label>
                    <input asp-for="CompletionTime" type="time" class="form-control" id="PlannedComTime" >
                </div>
                <div class="form-group col-4">
                    <label for="Status">Status</label>
                    <select asp-for="Status" id="Status" class="form-control">
                        <option>@TestTask.Models.TaskStatus.Assigned</option>
                        <option>@TestTask.Models.TaskStatus.Completed</option>
                        <option>@TestTask.Models.TaskStatus.InPerform</option>
                        <option>@TestTask.Models.TaskStatus.Suspended</option>
                    </select>
                </div>
                <div class="form-group col-8">
                    <label for="Description">Description</label>
                    <textarea asp-for="Description" id="Description" class="form-control"></textarea>
                </div>
                <input hidden asp-for="ParentTaskId" value="@Model.ParentTaskId" />
                
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
